{% extends "base.html" %}

{% block title %} Update {{show.id}} {% endblock %}

{% block content %}
<div class="row text-end mt-2">
    <a class="text-primary text-decoration-none" href="/"><i class="bi bi-arrow-left-square"></i> Go TV Shows</a>
</div>
<div class="row col-6 offset-3">
    <h2>Edit Show {{show.id}}</h2>
    <form class="mt-3 row" method="POST" action="update">
        {% csrf_token %}
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input name="title" type="text" class="form-control" id="title" value="{{show.title}}">
        </div>
        <div class="mb-3 col-6">
            <label for="network" class="form-label">Network</label>
            <input name="network" type="text" class="form-control" id="network" value="{{show.network}}">
        </div>
        <div class="mb-3 col-6">
            <label for="date" class="form-label">Release Date</label>
            <input name="date" name="date" type="date" class="form-control" id="date" value="{{show.release_date|date:'Y-m-d'}}">
        </div>
        <div class="mb-3 form-group">
            <label class="form-label" for="description">Description</label>
            <textarea name="description" class="form-control" name="description" id="description" cols="30" rows="5">{{show.description}}</textarea>
        </div>
        <div class="text-center">
            <button type="submit" class="btn btn-primary text-center">Update</button>
        </div>
    </form>     
    <div class="row text-center mt-2">
        <a class="text-primary text-decoration-none" href="/shows/{{show.id}}"><i class="bi bi-search text-primary"></i> Show Details</a>
    </div>
</div>    
{% endblock %}
